Flask==2.2.2
Flask_Cors==3.0.10
Flask_SocketIO==5.3.6
pandas==1.5.3
poai==0.0.8
porobot==0.0.3
PyOfficeRobot==0.1.18
PySide6==6.5.3
PySide6==6.6.0
PySide6_Addons==6.5.3
PySide6_Essentials==6.5.3
pywinauto==0.6.8
schedule==1.2.1
uiautomation==2.0.18
Werkzeug==2.2.3
