Faker==21.0.0
Flask==2.2.2
flask_cors==4.0.0
markdown2==2.4.11
matplotlib==3.7.2
numpy==1.24.3
pandas==2.0.3
Pillow==10.1.0
poai==0.0.9
porobot==0.0.3
PyOfficeRobot==0.1.18
pytab==1.0.4
Requests==2.31.0
six==1.16.0
Werkzeug==2.2.3
