<!DOCTYPE html>
<html>
<head>
    <title>Download All Tickets</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <button id="downloadButton">Download All Tickets</button>
    
    <script>
        $(document).ready(function() {
            $("#downloadButton").click(function() {
                // 发送POST请求到后端下载接口
                $.ajax({
                    type: "POST",
                    url: "http://47.116.201.99:8001/test/download_all_tickets",  // 替换为您的后端路由
                    contentType: "application/json",
                    data: JSON.stringify({}),  // 如果有筛选条件，请在此处传递筛选条件
                    success: function(response) {
                        if (response.file_url) {
                            // 下载链接可用，触发下载
                            window.location.href = response.file_url;
                        } else {
                            alert("File download failed.");
                        }
                    },
                    error: function() {
                        alert("An error occurred while downloading the file.");
                    }
                });
            });
        });
    </script>
</body>
</html>
